In [1]:
# 2025 08 27
# 추천 알고리즘 학습
# 1. 컨텐츠 기반 필터링
# 2. 협업 필터링


# 1. 컨텐츠 기반 필터링
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

# 캐글에서 TMDB 5000 Movie Dataset 다운로드 후 
# C드라이브 -> 사용자 -> 사용자명 -> 현재 파일이 있는 jupyter_ex_ict05 폴더 -> data -> tmdb_5000_movies 폴더 내에 파일 넣어주기
movies = pd.read_csv('./data/tmdb_5000_movies/tmdb_5000_movies.csv')       

print(movies.shape)
movies.head(1)

(4803, 20)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800

In [2]:
# 데이터 프레임 만들기

# 가져온 movies에서 id와 각 컬럼들을 추출해 담는다
movies_df = movies[['id', 'title', 'genres', 'vote_average','vote_count', 'popularity', 'overview', 'keywords']]

pd.set_option('max_colwidth', 100)
movies_df[['genres', 'keywords'][ : 2]]       # 장르와 키워드만 가져오기 (2열로)  모든행의 2열까지 가져옴

,genres,keywords
0,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""name"": ""Fantasy""}, {...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"": 2964, ""name"": ""future""}, {""id"": 3386, ""name"": ""sp..."
1,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""name"": ""Fantasy""}, {""id"": 28, ""name"": ""Action""}]","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""name"": ""drug abuse""}, {""id"": 911, ""name"": ""exotic is..."
2,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""name"": ""Adventure""}, {""id"": 80, ""name"": ""Crime""}]","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name"": ""based on novel""}, {""id"": 4289, ""name"": ""secret..."
3,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""name"": ""Crime""}, {""id"": 18, ""name"": ""Drama""}, {""id"": ...","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853, ""name"": ""crime fighter""}, {""id"": 949, ""name"": ""te..."
4,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""name"": ""Adventure""}, {""id"": 878, ""name"": ""Science Fic...","[{""id"": 818, ""name"": ""based on novel""}, {""id"": 839, ""name"": ""mars""}, {""id"": 1456, ""name"": ""medal..."
...,...,...
4798,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""name"": ""Crime""}, {""id"": 53, ""name"": ""Thriller""}]","[{""id"": 5616, ""name"": ""united states\u2013mexico barrier""}, {""id"": 33649, ""name"": ""legs""}, {""id""..."
4799,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 10749, ""name"": ""Romance""}]",[]
4800,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""name"": ""Drama""}, {""id"": 10749, ""name"": ""Romance""}, {""...","[{""id"": 248, ""name"": ""date""}, {""id"": 699, ""name"": ""love at first sight""}, {""id"": 2398, ""name"": ""..."
4801,[],[]
4802,"[{""id"": 99, ""name"": ""Documentary""}]","[{""id"": 1523, ""name"": ""obsession""}, {""id"": 2249, ""name"": ""camcorder""}, {""id"": 9986, ""name"": ""cru..."

In [3]:
movies_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            4803 non-null   int64
 1   title         4803 non-null   object
 2   genres        4803 non-null   object
 3   vote_average  4803 non-null   float64
 4   vote_count    4803 non-null   int64
 5   popularity    4803 non-null   float64
 6   overview      4800 non-null   object
 7   keywords      4803 non-null   object
dtypes: float64(2), int64(2), object(4)
memory usage: 300.3+ KB

In [4]:
# 텍스트 문자 1차 가공, 파이썬 딕셔너리로 변환 후 리스트 형태로 변환!

In [5]:
from ast import literal_eval      # ast : 징르를 파싱(문자를 가공)해서 파이썬 객체를 만들기 위함

movies_df['genres'] = movies_df['genres'].apply(literal_eval)           # 장르 읽어와 파싱 후 다시 넣어줌
movies_df['keywords'] = movies_df['keywords'].apply(literal_eval)       # 키워드 읽어와 파싱 후 다시 넣어줌

In [6]:
movies_df['genres'].head(1)

0    [{'id': 28, 'name': 'Action'}, {'id': 12, 'name': 'Adventure'}, {'id': 14, 'name': 'Fantasy'}, {...
Name: genres, dtype: object

In [7]:
# 각 딕셔너리 Key 중, 'name'의 value 값 가져오기

# apply(lambda)를 적용하면 해당 값을 모두 가져온다
# --> id는 제외한 name만 가져온다 
movies_df['genres'] = movies_df['genres'].apply(lambda x : [y['name'] for y in x])

# 키워드도 가져오기
movies_df['keywords'] = movies_df['keywords'].apply(lambda x : [y['name'] for y in x])


# 출력
movies_df[['genres', 'keywords'][ : 2]]   # 대괄호로 한 번 더 감싸주는것 중요! (아닐 시, 리스트로 인식)

,genres,keywords
0,"[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colony, society, space travel, futuristic, romance, spa..."
1,"[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india trading company, love of one's life, traitor, ship..."
2,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi6, british secret service, united kingdom]"
3,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret identity, burglar, hostage drama, time bomb, gotham..."
4,"[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel, princess, alien, steampunk, martian, escape, edg..."
...,...,...
4798,"[Action, Crime, Thriller]","[united states–mexico barrier, legs, arms, paper knife, guitar case]"
4799,"[Comedy, Romance]",[]
4800,"[Comedy, Drama, Romance, TV Movie]","[date, love at first sight, narration, investigation, team, postal worker]"
4801,[],[]
4802,[Documentary],"[obsession, camcorder, crush, dream girl]"

In [10]:
movies_df['genres'].head(1)

0    [Action, Adventure, Fantasy, Science Fiction]
Name: genres, dtype: object

In [11]:
movies_df['keywords'].head(1)

0    [culture clash, future, space war, space colony, society, space travel, futuristic, romance, spa...
Name: keywords, dtype: object

In [12]:
### 장르 컨텐츠 필터링을 이용한 영화 추천

# 장르 문자열을 Count 벡터화 후
# 코사인 유사도로 각 영화를 비교

# [ 컨텐츠 기반 필터링 프로세스 ]

In [13]:
# 1. 장르 문자열의 Count 기반 Feature 벡터화
# 2-1. 장르에 따른 영화별 코사인 유사도 추출
# 2-2. 특정 영화와 장르별 유사도가 높은 영화를 반환하는 함수 생성
# 3. 컨텐츠별로 가중 평점을 계산

In [15]:
# 1. 장르 문자열의 Count 기반 Feature 벡터화
import sklearn
import sys

print(sklearn.__version__)
print(sys.version)

# --------
# 1.6.1
# 3.13.5 | packaged by Anaconda, Inc. | (main, Jun 12 2025, 16:37:03) [MSC v.1929 64 bit (AMD64)]

1.6.1
3.13.5 | packaged by Anaconda, Inc. | (main, Jun 12 2025, 16:37:03) [MSC v.1929 64 bit (AMD64)]

In [19]:
from sklearn.feature_extraction.text import CountVectorizer
# CountVectorizer : 텍스트 데이터에서 횟수를 기준으로 특징을 추출하는 방법
# 어떤 단위(단어, 문자) 등의 횟수를 셀 것인지는 선택사항이다

# 이 모듈을 사용하려면 먼저 객체를 만들고, 만들어진 객체에 특정 텍스트 데이터에서 횟수를 셀 단어의 목록 만들기
# CountVectorizer를 적용하기 위해 공백문자로 word 단어가 구분되는 문자열로 변환한다

movies_df['genres_literal'] = movies_df['genres'].apply(lambda x : ('  ').join(x))      # 가져온 값에 join을 해서 x 값을 가져온다
# genres라는 컬럼이 '리스트'이므로 공백('  ')과 조인을 해서, String으로 변환
count_vect = CountVectorizer(min_df=0.0, ngram_range=(1,2))
genre_mat = count_vect.fit_transform(movies_df['genres_literal'])


# 영화 건수, 컬럼 갯수
print(genre_mat.shape)
# (4803, 276)

(4803, 276)

In [20]:
# 2-1. 장르에 따른 영화별 코사인 유사도 추출

In [21]:
from sklearn.metrics.pairwise import cosine_similarity

genre_sim = cosine_similarity(genre_mat, genre_mat)
print(genre_sim.shape)         # (4803, 4803)
print(genre_sim[ : 2])
# [[1.         0.59628479 0.4472136  ... 0.         0.         0.        ]
# [0.59628479 1.         0.4        ... 0.         0.         0.        ]]

(4803, 4803)
[[1.         0.59628479 0.4472136  ... 0.         0.         0.        ]
 [0.59628479 1.         0.4        ... 0.         0.         0.        ]]

In [22]:
genre_sim_sorted_ind = genre_sim.argsort()[ : , ::-1]      # 모든 행, 모든 열에 대해서 내림차순(-1) 정렬
print(genre_sim_sorted_ind[ : 1])

# [[   0   46 3494 ... 3600 3569 4799]]

[[   0   46 3494 ... 3600 3569 4799]]

In [23]:
# 2-2. 특정 영화와 장르별 유사도가 높은 영화를 반환하는 함수 생성

In [27]:
# title_name : 사용자 선호영화 제목  top_n 상위 10개 가져오기   
# ==> 사용자 선호 영화와 유사한 영화 10개 추천
def find_sim_movie(df, sorted_ind, title_name, top_n=10):
    # csv에서 받아온 데이터프레임의 'title' 컬럼명과 인자로 넘겨받은 'title_name'의 값이 같은지 비교 후 추출
    title_movie = df[df['title'] == title_name]           
    # title_name을 가진 DataFrame의 index 반환
    title_index = title_movie.index.values
    # sorted_ind에 함수호출시 받아온 인자(sorted_ind) 값을 넣어주고 유사한 10개 반환
    similar_indexes = sorted_ind[title_index, :(top_n)]         # [선호영화인덱스, : 10개 가져오기]
    
    print(similar_indexes)

    # DataFrame에서 index로 사용하기 위해 1차원 array로 변경
    similar_indexes = similar_indexes.reshape(-1)

    # 리턴 (loc이 아닌, iloc인 이유  : 정수이므로) 
    return df.iloc[similar_indexes]

In [30]:
# 함수 호출
similar_movies = find_sim_movie(movies_df, genre_sim_sorted_ind, 'The Godfather', top_n=10)

# [[1881 3378 3866 1370 1464  588 3887 3594 2839  892]]
# similar_indexes 출력한 것

similar_movies[['title', 'vote_average']]      # 제목과 평점평균
# vote_average 안 나올 경우, 맨 위 movies_df 필터 누락한건 아닌지 확인
# 0.0인 영화 Mi America가 중간에 있음. 추천 안 하는게 좋다. 마케팅 홍보시 무조건 장르가 유사하다고 추천하는 것보다, 유사한 장르에서 평점이 높은 순인게 좋다

[[1881 3378 3866 1370 1464  588 3887 3594 2839  892]]

                                title  vote_average
1881         The Shawshank Redemption           8.5
3378                       Auto Focus           6.1
3866                      City of God           8.1
1370                               21           6.5
1464              Black Water Transit           0.0
588   Wall Street: Money Never Sleeps           5.8
3887                    Trainspotting           7.8
3594                  Spring Breakers           5.0
2839                         Rounders           6.9
892                            Casino           7.8

In [31]:
# 유사한 장르이면서 평점이 높은 영화 정보를 확인

In [32]:
movies_df[['title', 'vote_average', 'vote_count']].sort_values('vote_average', ascending=False)[ : 10]
# 평점은 좀 낮지만, 투표횟수가 높은 것이 아래임
# 평점만 따지지 않고 투표횟수까지 높은 것을 뽑는 것이 좋음.

                         title  vote_average  vote_count
4662            Little Big Top          10.0           1
3519          Stiff Upper Lips          10.0           1
4045     Dancer, Texas Pop. 81          10.0           1
4247     Me You and Five Bucks          10.0           2
3992                 Sardaarji           9.5           2
2386            One Man's Hero           9.3           2
1881  The Shawshank Redemption           8.5        8205
2970        There Goes My Baby           8.5           2
3337             The Godfather           8.4        5893
2796     The Prisoner of Zenda           8.4          11

In [33]:
# 3. 컨텐츠별로 가중 평점을 계산
# 평가 횟수에 대한 가중치가 부여된 평점 계산
# 가중 평점(Weighted Rating) = (v/(v+m)) * R + (m/(v+m)) * C

In [34]:
# ■ v: 개별 영화에 평점을 투표한 횟수 ■ m: 평점을 부여하기 위한 최소 투표 횟수 ■ R: 개별 영화에 대한 평균 평점. ■ C: 전체 영화에 대한 평균 평점

In [36]:
# 확인용
C = movies_df['vote_average'].mean()    # C 대문자
m = movies_df['vote_count'].quantile(0.6)    # 최소 투표횟수 (60%)  - 상위
print('C :', round(C, 3), 'm :' , round(m, 3))

# C : 6.092 m : 370.2

C : 6.092 m : 370.2

In [41]:
percentile = 0.6

C = movies_df['vote_average'].mean()    # C 대문자
m = movies_df['vote_count'].quantile(0.6)    # 최소 투표횟수 (60%)  - 상위

def weighted_vote_average(record):      # 가중 평점 구하기
    v = record['vote_count']      # v 소문자
    R = record['vote_average']    # R 대문자
    
    # 가중 평점(Weighted Rating) = (v/(v+m)) * R + (m/(v+m)) * C
    return (v/(v+m)) * R + (m/(v+m)) * C       # 가중평점 리턴

movies_df['weighted_vote'] = movies_df.apply(weighted_vote_average, axis=1)

In [42]:
movies_df[['title', 'vote_average', 'vote_count', 'weighted_vote']].sort_values('weighted_vote', ascending=False)[ : 10]


# 투표횟수 + 평점평균이 많은 데이터가 위로 올라감

#          title	          vote_average	vote_count	 weighted_vote
# 1881	The Shawshank Redemption	8.5	     8205	      8.396052
# 3337	The Godfather	            8.4	     5893	      8.263591

# 가중치를 적용하면, 유사도가 낮더라도 평점순으로 정렬되므로 사용자에게 좋은 추천이 될 수 있음.

                         title  vote_average  vote_count  weighted_vote
1881  The Shawshank Redemption           8.5        8205       8.396052
3337             The Godfather           8.4        5893       8.263591
662                 Fight Club           8.3        9413       8.216455
3232              Pulp Fiction           8.3        8428       8.207102
65             The Dark Knight           8.2       12002       8.136930
1818          Schindler's List           8.3        4329       8.126069
3865                  Whiplash           8.3        4254       8.123248
809               Forrest Gump           8.2        7927       8.105954
2294             Spirited Away           8.3        3840       8.105867
2731    The Godfather: Part II           8.3        3338       8.079586

In [ ]:
def find_sim_movie(df, sorted_ind, title_name, top_n=10):
    # csv에서 받아온 데이터프레임의 'title' 컬럼명과 인자로 넘겨받은 'title_name'의 값이 같은지 비교 후 추출
    title_movie = df[df['title'] == title_name]           
    # title_name을 가진 DataFrame의 index 반환
    title_index = title_movie.index.values
    # top_n개의 2배에 해당하는 장르 유사성이 높은 index 추출
    similar_indexes = sorted_ind[title_index, :(top_n*2)]        
    
    print(similar_indexes)

    # DataFrame에서 index로 사용하기 위해 1차원 array로 변경
    similar_indexes = similar_indexes.reshape(-1)

    # 기존 선호 영화 index는 제외
    similar_indexes = similar_indexes[similar_indexes != title_index]
    
    # top_n의 2배에 해당하는 후보군에서 weighted_vote, 즉 평점이 높은 순으로 top_n만큼 추출
    return df.iloc[similar_indexes].work_values('weighted_vote', ascending=False)[ : top_n]